{% extends 'base.html' %}

{% block content %}

    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>{{ form.name.label }}</label>
                {{ form.name }}
            </div>
            <div class="form-group col-md-4">
                <label>{{ form.price.label }}</label>
                {{ form.price }}
            </div>
            <div class="form-group col-md-2">
                <input type="submit" class="btn btn-success" style="margin-top:30px;" value="儲存">
            </div>
        </div>
    </form>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>花費項目</th>
                <th>金額</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
                <tr>
                    <td>{{ expense.name }}</td>
                    <td>{{ expense.price }}</td>
                    <td>
                        <a href="{% url 'Update' expense.id %}" class="btn btn-info">修改</a>
                        <a href="{% url 'Delete' expense.id %}" class="btn btn-danger">刪除</a>
                        <a id="input_{{ expense.id }}" class="btn btn-success">測試</a>
                       
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <script type="text/javascript">

        var expense_data = {{expense_data|safe}};
        function call_test(event) {
            console.log("id:",event.data.id);
            alert('id is '+event.data.id)
        }

        $(document).ready(function(){
            console.log("ready");
            for (i = 0; i < expense_data.length; i++) {
                var expense = expense_data[i]
                var ids = "#input_"+expense.id;
                console.log("ids:",ids)
                $(ids).click({id: expense.id}, call_test);
            }
            

        });        
    </script>

{% endblock  %}