{% extends 'base.html' %}

{% block content %}

    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <div class="form-group col-md-6">

            {{ form }}

            
            </div>

            <div class="form-group col-md-2">
                <input class="btn btn-success" type="submit" value="更新" />
            </div>            
        </div>
    </form>
{% endblock  %}